<!-- Section: Design Block -->
<section style="background-color: #f7f7f7;" class="vh-100"> <!-- Light Background -->
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: #ffffff;"> <!-- White background for content area -->
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0 text-dark">
            <img src="logo.png" style="width: 30%;">
            <h1 class="my-5 display-3 fw-bold ls-tight"> HUNTER FITNESS
               <br />
              <span class="text-primary" style="font-size: 40px;">Reach Your Fitness Goals</span>
            </h1>
            <p>
               "Your fitness is in your hands so<br>
                work together to get out of fear"
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card shadow-lg" style="border-radius: 15px;">
              <div class="card-body py-5 px-md-5">
                <form>
                  <!-- User ID input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userID" class="form-control" style="border-color: #007bff;" />
                    <label class="form-label" for="userID" style="color: #007bff;">User ID</label>
                  </div>
  
                  <!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" style="border-color: #007bff;" />
                    <label class="form-label" for="password" style="color: #007bff;">Password</label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                    Log In
                  </button>
  
               
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
